<h2>Angular (UI-Router) Bootstrap Navbar</h2>

<p>This is a basic <a href="http://angularjs.org" target="_blank">AngularJS</a> directive for <a href="http://getbootstrap.org" target="_blank">Bootstrap</a>'s that builds itself based on data entered into <a href="https://github.com/angular-ui/ui-router" target="_blank">Angular UI-Router</a>'s app configuration.</p>

<p>These are the main parts of this demo:</p>

<h4>index.html</h4>

<pre class="prettyprint">
    <div ng-include="'index.munged.html'"></div>
</pre>

<h4>app.js</h4>

<pre class="prettyprint">
    <div ng-include="'scripts/app.js'"></div>
</pre>